@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

*{
    padding: 0;
    margin:0;
}

body{
    background-color: black;
}

#q1{
    margin-left: 10px;
    font-family: 'Pangolin';
    margin-top: 5px;
    color: darkgray;
}

#q1_1{
    font-family: 'Pangolin';
    margin-top: 5px;
    color: white;
    margin-left: 35%;
}

#sh-bg{
    position:absolute;
    margin-top: 20px;
    width: 160vh;
    height: 85vh;
}

#q1_yes{
    font-size: 1.5rem;    
    width:250px;
    height:60px;
    margin-top: 300px;
    margin-left:1276px;
    display: absolute;
    border-radius: 10px;    
    text-align: center;
    background-color:darkorchid;
    cursor: pointer;
    
}

#q1_no{
    font-size: 1.5rem;
    width:250px;
    height:50px;
    margin-top: 100px;
   margin-left: 1276px;
    text-align: center;
    text-decoration: none;
    display: absolute;
    border-radius: 10px;    
    background-color: brown;   
    cursor: pointer; 
}